.conteinerGenerate{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    font-family: Lato;
    margin-top: 15px;
    width: 95%;
    min-width: 676px;
}

.lineBreakGenerate {
    width: 100%;
    margin-bottom: 10px;
}

.headerGenerate{
    width: 85%;
    font-weight: 700;
    font-size: 1.3rem;
}


.button{
    position: relative;
    background-color: #E69025;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .button:hover {
    transition-duration: 0.1s;
    background-color: #f6b41b;
  }
  
  .button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .button:active {
    top: 1px;
  }

  .conteinerMeals{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      font-family: Lato;
      width: 80%;
      height: 1300px;
      border: solid 1px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color:rgba(255, 255, 255, 0.6);
      margin-bottom: 150px;
  }