.header{
    height: 50px;
    background-color: rgb(194, 230, 142);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 15px;
}

img{
    height: 125px;
    margin: 15px;
    
}

