.conteinerExclusion{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    font-family: Lato;
    margin-top: 15px;
    width: 95%;
}

.lineBreakExclusion {
    width: 100%;
    margin-bottom: 10px;
}

.headerExclusion{
    width: 85%;
    font-weight: 700;
    font-size: 1.3rem;
}

.ingridientConteiner{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    font-family: Lato;
    width: 90%;
}